<md-dialog>
        <md-toolbar>
            <div class="md-toolbar-tools">



                <md-button class="md-icon-button" ng-click=" undoVideo()" ng-show=" video">
                    <md-icon md-svg-src="images/iconback.svg" aria-label="undo "></md-icon>
                </md-button>



                <img style="max-width: 80%;height: 80%" src="images/fdiomodal.png">

                <h2 style="font-size: xx-large">FD.IO</h2>

                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="images/iconclose.svg"  aria-label="Close dialog"></md-icon>
                </md-button>

            </div>


        </md-toolbar>

        <md-dialog-content  style="font-size: x-large">
            <div class="md-dialog-content" >


                <div style="display: flex" ng-show="!video" >

                        <div style="display: inline-block; text-align: center" ng-click="redirectUrl('https://wiki.opnfv.org/display/fds')">

                            <img style=" max-height:75%; max-width: 75%" src="images/fdsmodal.png"  >

                                  <p>Go to Wiki!</p>

                        </div>

                        <div style="display: inline-block; text-align: center" ng-click="goToVideo()">

                            <img style=" max-height:75%; max-width: 75%" src="images/videologo.png"  >

                            <p>See Video!</p>

                        </div>



                </div>


                <div  ng-show="video">



                    <video autoplay controls>
                        <source src="images/vppvideo.mp4" type="video/mp4">

                    </video>
                </div>


                <!--<md-list style=" align-items: center"  ng-show="! actual.show && !detail && !video">-->
                    <!--<md-list-item  ng-repeat="ac in actual.mymodal">-->
                        <!--<md-button  style=" max-height:100%; max-width: 100%; text-align: center; font-size: large" ng-click="goToDetail(ac)">-->
                            <!--<img style=" max-height:50px; max-width: 50px" src={{ac.image}} >-->
                            <!--{{ac.name}}-->
                        <!--</md-button>-->
                    <!--</md-list-item>-->
                <!--</md-list>-->






            </div>





        </md-dialog-content>

        <md-dialog-actions layout="row">


            <md-button style="font-size: large"  ng-click="answer('useful')">
                Got it!
            </md-button>
        </md-dialog-actions>
</md-dialog>

